{% extends 'base.html' %} {% block content %}

<h1>Circle Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title"><strong> {{ circle.title }} </strong> </span>
                <p><strong>Creator: </strong> {{ circle.creator }}</p>
                <p><strong>Description: </strong> {{ circle.description }}</p>
                <p><strong>Tags: </strong> {{ circle.tags }}</p>
            </div>
            </br>
            </br>
            {% if request.user == circle.user or request.user.is_superuser%}
            
                <div class="buttons">
                    <a href="{% url 'circle_update' circle.id %}">Edit</a>
                    <a href="{% url 'circle_delete' circle.id %}">Delete</a>
                </div>
            </div>
            {% endif %}
        
    </div>
    <div class="col s6">
        <form action="{% url 'add_comment' circle.id %}" method="post">
          {% csrf_token %} {{ comment_form.as_p }}
          <input type="submit" class="btn" value="Add Comment" />
        </form>
    
        {% if comments %}
            {% for comment in comments %}
            <div class="card">
                <div class="card-content">
                    <p>{{ comment.content }}</p>
                    <p>{{ comment.user.username }}</p>
                    <p>{{ comment.created }}</p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}