{% extends 'base.html' %} {% block content %}

<h2 class="white-text">Welcome back {{ request.user }}!</h2>
<h1 class="white-text left-align">Circles List</h1>

<div id="container index-grid">
  {% for circle in circles %}
  <a href="{% url 'detail' circle.id %}">
    <div class="card valign-wrapper circ circ-index ">
      <div class="card-content">
        <span class="card-title">{{ circle.title }}</span>
        <p>Creator: {{ circle.creator }}</p>
      </div>
    </div>
  </a>
  {% endfor %} 
</div>

{% endblock %}