{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>circleUp</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo">  circleUp</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="/about"><span class="amber-text text-lighten-4">About</span></a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'circle_create' %}"><span class="amber-text text-lighten-4">New Circle</span></a></li>
            <li><a href="{% url 'index' %}"><span class="amber-text text-lighten-4">Circles</span></a></li>
            <li><a href="{% url 'logout' %}"><span class="amber-text text-lighten-4">Log Out</span></a></li>
            {% else %}
            <li><a href="{% url 'signup' %}"><span class="amber-text text-lighten-4">Sign Up</span></a></li>
            <li><a href="{% url 'login' %}"><span class="amber-text text-lighten-4">Log In</span></a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, © 2023 Team Deathcore  
      </div>
    </footer>
  </body>
</html> 