body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #32569B
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    padding-top: 0;
    text-align: right;
  }

  .nav-wrapper {
    background-color:  #0E316A;
  }

  .page-footer {
    background-color:  #32569B;
    color: #ffecb3;
  }

  .btn {
    background-color: #E9B253;
  }

  .card {
    border-radius: 100px 100px 100px 100px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    padding: 0;
    margin-left: 0;
    font-size: 40px;
  }

  .buttons {
    text-align: center;
    align-content: center;
    background-color: #E9B253;
  }

  #nav-trigger {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }